<h2>Edit <%= resource_name.to_s.humanize %></h2>
    <!-- condition -->
    <% if current_user.condition ==0 %>
        condition: 0
    <% elsif current_user.condition ==1 %>
        condition: 1
    <% elsif current_user.condition ==2 %>
        condition: 2
    <% elsif current_user.condition ==3 %>
        condition: 3
    <% elsif current_user.condition ==4 %>
        condition: 4
    <% end %>
    <!-- condition -->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <br>
  <div class="field">
    <%= f.label :email %><i>(hint: You cannot change your username.)</i><br>
    <%= f.email_field :email, autocomplete: "email", disabled: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
    <br>
  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
    <br>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
    <br>
  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
    <br>
  <div class="field">
    <%= f.label "Maximun daily coffee intake :" %>
    <%= f.number_field :climit, autofocus: true %>
  </div>
  <br>
  <div class="field">
    <%= f.label "Maximun daily water intake :" %>
    <%= f.number_field :wlimit, autofocus: true %>
  </div>
  <br>
  <div class="field">
    <%= f.label :walkpref %>
    <%= f.check_box :walkpref, as: :integer, autofocus: true %>
    <%= f.label :commutepref %>
    <%= f.check_box :commutepref, as: :integer, autofocus: true %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<br>
<h3>Cancel my account</h3>

<p>Unhappy? You can always cancel your account. <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back to Home", :back %>
