<!--
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->
<div class="container">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <div class="justify-content-center profile-userpic">
                            <img src="https://i.pinimg.com/originals/2c/7f/d4/2c7fd4e277d332cf993e93d98906dfd1.png" class="center-user-image img-responsive" alt="user-image">
                        </div>
                    </div>
                </div>
                <!-- END SIDEBAR USERPIC -->

                <!-- SIDEBAR USER TITLE -->
                <% if current_user %>
                    <div class="row justify-content-center">
                        <div class="profile-usertitle">
                            <div class="justify-content-center profile-usertitle-name">
                                <!--MF  DOOM -->
                            </div>
                            <div class="profile-usertitle-job">
                                <!--Supervillain -->
                            </div>
                            <div class="profile-usertitle-name">
                                <%= current_user.username %>
                            </div>
                        </div>
                    </div>
                <!-- END SIDEBAR USER TITLE -->

                <!-- USER water and coffee -->
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <!-- <p class="h5">Water drank today:</p>
                        <br> -->
                        <!-- need too show only today's-->
                        <p class="h5">Coffee drank today:
                            <%= current_user.coffees.count %> / <%= current_user.climit %>
                        </p>
                        <br>
                    </div>
                </div>
                <!-- USER water and coffee END -->

				<!-- SIDEBAR BUTTONS -->
                    <div class="row justify-content-center">
                    <div class="profile-userbuttons">
                        <button type="button" class="btn btn-danger btn-sm"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></button>
                    </div>
                    </div>
                <% else %>
                    <div style="margin-top: 20px;margin-bottom: 20px;">
                    <div class="row justify-content-center">
                    <div class="profile-userbuttons" style="margin-right: 20px;">
                        <a href="<%= new_user_registration_path %>"><button type="button" class="btn btn-success btn-lg"> SIGN UP </button></a>
                    </div>
                    <div class="profile-userbuttons">
                        <a href="<%= new_user_session_path %>"><button type="button" class="btn btn-success btn-lg"> SIGN IN </button></a>
                    </div>
                    </div>
                    </div>
                <% end %>
				<!-- END SIDEBAR BUTTONS -->

				<!-- FEEDBACK SECTION -->
                <div class="row justify-content-center">
                    <!--Div that will hold the pie chart-->
                    <div class="col-md-auto">
                        <!--chartkick scripts-->
                        <script src="https://www.gstatic.com/charts/loader.js"></script>
                        <script src="chartkick.js"></script>
                        <%= javascript_include_tag "//www.gstatic.com/charts/loader.js", "chartkick" %>
                        <% if current_user %>
                            <!-- chart #1 for posts -->
                            <p class="h5">Affect trend line:</p>
                            <%= line_chart current_user.posts.all.pluck("created_at, affect"),xmin:"2020-01-01", xmax: "2021-01-01", height: "500px",width:"900px" %>
                            <br>
                            <!-- chart #2 for posts -->
                            <p class="h5">Entertainment trend line:</p>
                            <%= line_chart current_user.posts.all.pluck("created_at, entertainment"),xmin:"2020-01-01", xmax: "2021-01-01", colors: ["#b00"], height: "500px",width:"900px" %>
                            <!-- chart #2 for posts -->
                            <p class="h5">Entertainment trend line:</p>
                            <%= column_chart Coffee.group_by_day_of_week(:created_at, format: "%a").count, colors: ["#c29"], height: "300px",width:"900px" %>
                        <% else %>
                            **login to see graphs**
                        <% end %>
                    </div>
                </div>
			</div>
</div>
