<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <div>To what extend did you enjoy this activity?</div>
    <%= form.text_field :entertainment, as: :integer %>
  </div>


  <div class="field">
    <div>How do you feel right now?</div>
    <%= form.text_field :affect, as: :integer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
