<div class="container">
    <% if current_user %>
    <h1>Posts</h1>
      <!-- green notice messages -->
      <p id="notice">
        <%= notice %>
      </p>


    <div class="column">
          <% if current_user && current_user.admin %>
                <!-- admin view -->
                <% @posts.each do |post| %>
                    <div class="ui secondary segment ">
                        <h2 class="ui medium header"> <%= post.created_at.strftime("%A, %d %B %Y") %> </h4>
                        <% if post.entry_type==1 %>
                            Walk : <%= post.title %>
                        <% elsif post.entry_type==2 %>
                            Commute : <%= post.title %>
                        <% end %>
                        <br><span class="ui  header">Description :</span> <%= post.body %>


                        <br>affect:<%= post.affect %>
                        <br>entertainment:<%= post.entertainment %>
                        <br>user id:<%= post.user_id %>
                        <br>
                        <div style="float:right"><%= link_to 'Show', post , class: 'ui button'%><%= link_to 'Edit', edit_post_path(post), class: 'ui button' %><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui button' %></div>
                    </div>
                <% end %>
                <!-- admin view end -->
          <% else %>
                <!-- guest view -->
                <% current_user.posts.each do |post| %>
                <div class="ui secondary segment ">
                    <h2 class="ui medium header"> <%= post.created_at.strftime("%A, %d %B %Y") %> </h4>
                    <% if post.entry_type==1 %>
                        Walk : <%= post.title %>
                    <% elsif post.entry_type==2 %>
                        Commute : <%= post.title %>
                    <% end %>
                    <br><span class="ui h4 header">Description :</span> <%= post.body %>

                    <div style="float:right"><%= link_to 'Show', post, class: 'ui button' %><%= link_to 'Edit', edit_post_path(post), class: 'ui button' %></div>
                </div>
                <% end %>
                <!-- guest view end -->
          <% end %>
    </div>

    <br>
    <section class="newpost_banner center" id="new post">
        <div class="btn btn-info btn-lg"><%= link_to 'New Walk', new_post_path(:post =>{:created_at => DateTime.now , :entry_type => 1 }) %></div>
        <div class="btn btn-info btn-lg"><%= link_to 'New Commute', new_post_path(:post =>{:created_at => DateTime.now , :entry_type => 2 }) %></div>
        <div class="btn btn-info btn-lg"><%= link_to 'New Other Activity', new_post_path(:post =>{:created_at => DateTime.now , :entry_type => 3 }) %></div>
    </section>
    <% else %>
       <div class="row justify-content-center">
                ** login to add posts **
       </div>
        <div style="margin-top: 20px;margin-bottom: 20px;">
            <div class="row justify-content-center">
                <div class="profile-userbuttons" style="margin-right: 20px;">
                    <a href="<%= new_user_registration_path %>"><button type="button" class="btn btn-success btn-lg"> SIGN UP </button></a>
                </div>
                <div class="profile-userbuttons">
                    <a href="<%= new_user_session_path %>"><button type="button" class="btn btn-success btn-lg"> SIGN IN </button></a>
                </div>
            </div>
        </div>
    <% end %>

</div>
