<div class="container">

<% if current_user %>

<div class="column">
    <div class="ui middle aligned center aligned grid ">
        <div class="row">
            <div class="eleven wide column">
              <% if current_user && current_user.admin %>
                    <!-- admin view -->
                    <% @posts.each do |post| %>
                        <div class="ui secondary segment ">
                            <!-- post segment -->
                            <h2 class="left floated ui medium header"> <%= post.created_at.strftime("%A, %d %B %Y") %> </h4>
                            <% if post.entry_type==1 %>
                                Walk : <%= post.title %>
                            <% elsif post.entry_type==2 %>
                                Commute : <%= post.title %>
                            <% end %>
                            <br><span class="ui  header">Description :</span> <%= post.body %>
                            <br>affect:<%= post.affect %>
                            <br>entertainment:<%= post.entertainment %>
                            <br>user id:<%= post.user_id %><br>
                            <div style="float:right"><div class="ui buttons"><%= link_to 'Show', post , class: 'ui button'%><%= link_to 'Edit', edit_post_path(post), class: 'ui button' %><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui button' %></div></div>
                        </div>
                    <% end %>
                    <!-- admin view end -->
              <% else %>
                    <!-- guest view -->
                    <% current_user.posts.each do |post| %>
                    <div class="ui secondary segment ">
                        <!-- post segment -->
                        <p class="ui h2 medium header"> <%= post.created_at.strftime("%A, %d %B %Y") %> </p>
                        <% if post.entry_type==1 %>
                               <p class="ui"><span class="ui header h4">Walk :</span> <%= post.title %></p>
                        <% elsif post.entry_type==2 %>
                               <p class="ui"><span class="ui header h4">Commute :</span> <%= post.title %></p>
                        <% end %>

                        <p class="ui"><span class="ui header h4">Description :</span> <%= post.body %></p>

                         <div class="floated center"><div class="ui buttons"><%= link_to 'Show', post , class: 'ui button'%><%= link_to 'Edit', edit_post_path(post), class: 'ui button' %></div></div>
                    </div>
                    <% end %>
                    <!-- guest view end -->
              <% end %>
            </div>
        </div>
    </div>
</div>

    <br>
    <section class="newpost_banner center" id="new post">
        <div class="btn btn-info btn-lg"><%= link_to 'New Walk', new_post_path(:post =>{:created_at => DateTime.now , :entry_type => 1 }) %></div>
        <div class="btn btn-info btn-lg"><%= link_to 'New Commute', new_post_path(:post =>{:created_at => DateTime.now , :entry_type => 2 }) %></div>
        <div class="btn btn-info btn-lg"><%= link_to 'New Other Activity', new_post_path(:post =>{:created_at => DateTime.now , :entry_type => 3 }) %></div>
    </section>
    <% else %>
        <!-- not logged in view -->
       <div class="row justify-content-center">
                ** login to add posts **
       </div>
        <div style="margin-top: 20px;margin-bottom: 20px;">
            <div class="row justify-content-center">
                <div class="profile-userbuttons" style="margin-right: 20px;">
                    <a href="<%= new_user_registration_path %>"><button type="button" class="btn btn-success btn-lg"> SIGN UP </button></a>
                </div>
                <div class="profile-userbuttons">
                    <a href="<%= new_user_session_path %>"><button type="button" class="btn btn-success btn-lg"> SIGN IN </button></a>
                </div>
            </div>
        </div>
    <% end %>

</div>
