<header>


<!-- Fixed navbar -->
  <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2 d-none d-md-inline-block" ><%= link_to "HOME", root_path %></a>
        <a class="py-2 d-none d-md-inline-block" ><%= link_to('POSTS', posts_path ) %></a>
        <a class="py-2 d-none d-md-inline-block" ><%= link_to("PLANS", "/pages/plans") %></a>
        <a class="py-2 d-none d-md-inline-block" ><%= link_to("USER", "/pages/userinfo") %></a>
        <a class="py-2 d-none d-md-inline-block" href="#"><%= link_to("EMPTY") %></a>
      </div>
    </nav>

</header>
